{% include "header.html" %}

{% if messages %}
	{% for message in messages %}
	   <script>alert("{{ message }}")</script>
	{% endfor %}
{% endif %}


<div id="content_manageuser" style="min-height: 792px;">
<div class="committee">
   <i class='fas fa-edit' style='font-size:15px;color:grey;margin-left:15px;margin-top: 14px;'></i>
   <span style="margin-left: 24px;font-size: initial;">Add Calender Meeting</span>
    <hr class="hrborder">

    <div style="width:100%;">
        <div class="calender-left-blk" style="float:left;width:55%;padding-left:10px;">


            Committee<span style="color:red;font-size:larger;">*</span><span style="margin-left: 16px;margin-right: 10px;">:</span>

             <select id="committee" name="committee" style="border-color: darkgray;" onchange="getCommitee()">
                 <option value="">Select Committee</option>
                   {% for key,value in committee_dict.items %}
                        <option value="{{key}}">{{value}}</option>
                   {% endfor %}
             </select>

            <span style="margin-left: 10px;">Title</span><span style="color:red;font-size:larger;">*</span><span style="margin-left: 10px;">:</span><input type="text"
                    id="title" placeholder=""
                 style="margin-left: 14px;height: 34px;width: 165px;border-color: darkgray;font-size: 15px;border: 1px solid #cccccc;font-family: sans-serif;padding: 4px 6px;">
            <span id="titleValidator" style="color:Red;visibility:hidden;"></span>



             <div class="time-blk" style="margin-top:15px;">Select Time<span style="color:red;font-size:larger;">*</span><span style="margin-left: 10px;margin-right: 10px;">:</span>

                 <select name="ddlhh" id="ddlhh" class="input-mini"  style="width:75px;border-color: darkgray;">
                                                <option selected="selected" value="">--</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select >&nbsp;
                 <select name="ddlmm" id="ddlmm" class="input-mini" style="width:75px;border-color: darkgray;">
                                                <option selected="selected" value="00">00</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                                <option value="32">32</option>
                                                <option value="33">33</option>
                                                <option value="34">34</option>
                                                <option value="35">35</option>
                                                <option value="36">36</option>
                                                <option value="37">37</option>
                                                <option value="38">38</option>
                                                <option value="39">39</option>
                                                <option value="40">40</option>
                                                <option value="41">41</option>
                                                <option value="42">42</option>
                                                <option value="43">43</option>
                                                <option value="44">44</option>
                                                <option value="45">45</option>
                                                <option value="46">46</option>
                                                <option value="47">47</option>
                                                <option value="48">48</option>
                                                <option value="49">49</option>
                                                <option value="50">50</option>
                                                <option value="51">51</option>
                                                <option value="52">52</option>
                                                <option value="53">53</option>
                                                <option value="54">54</option>
                                                <option value="55">55</option>
                                                <option value="56">56</option>
                                                <option value="57">57</option>
                                                <option value="58">58</option>
                                                <option value="59">59</option>

                                            </select>&nbsp;
                 <select name="ddlam" id="ddlam" class="input-mini" style="width:75px;border-color: darkgray;">
                            <option selected="selected" value="AM">AM</option>
                            <option value="PM">PM</option>

                 </select>&nbsp;

                 <span id="timeValidator" style="color:Red;visibility:hidden;"></span>
             </div>

        </div>

        <div class="calender-right-blk" style="float:left;width:35%;margin-left:10px;">
             <span style="margin-left: 0px;">Select Date</span><span style="color:red;font-size:larger;">*</span><span style="margin-left: 15px;">:</span>
            <input type="date" id="txtDate" placeholder="" style="margin-left: 14px;height: 34px;width: 165px;border-color: darkgray;font-size: 15px;border: 1px solid #cccccc;font-family: sans-serif;padding: 4px 6px;" >
            <span id="dateValidator" style="color:Red;visibility:hidden;"></span>


            <div style="margin:15px 0 15px; 0">
                 <span style="margin-left: 0px;">Venue</span><span style="color:red;font-size:larger;">*</span><span style="margin-left: 10px;margin-right:38px;">:</span>
                 <input type="text" id="venue" placeholder=""
                     style="margin-left: 14px;height: 34px;width: 165px;border-color: darkgray;font-size: 15px;border: 1px solid #cccccc;font-family: sans-serif;padding: 4px 6px;">
                    <span id="venueValidator" style="color:Red;visibility:hidden;"></span>
             </div>
        </div>
        <div style="float:left;padding-top:43px;">
              <input type="button" class="sub2button" value="Submit" onclick="addCalenderMeeting()" style="margin-left:0;marigin-top:20px;">
        </div>

       <div style="clear:left;"></div>

        <p id="formValidator" style="color:Red;visibility:hidden;padding-left: 10px;padding-bottom: 10px;"></p>

</div>
</div>
<div class="committee1">
    <i class='fas fa-exchange-alt' style='font-size:15px;color:grey;margin-left:15px;margin-top: 14px;'></i>
    <span style="margin-left: 24px;font-size: initial;">Manage Calender Meetings</span>
     <input type="button" id="record" class="sub2button" value="Download CSV" onclick="location.href='{{baseURL}}downloadCalenderMeeting/{{fid}}' "
            style="font-size:15px;margin-right:15px;margin-top:15px;float:right;">

    <hr class="hrborder">

    <table class="table table-striped bootstrap-datatable datatable dataTable calender-meetings" cellspacing = "0" cellpadding = "4"
           style="font-size:14px;border-collapse:collapse;border: 1px solid darkgrey;border-left:none;margin:10px;width:98%;">
    <thead class="thead-dark">
    <tr style="font-size: 14px;color:black;font-weight: bold;font-family: sans-serif;">
        <th style="width:80px;text-align:left;">Sr No.</th>
        <th style="width:200px;text-align:left;" >Date</th>
        <th>Title</th>
        <th>Venue</th>
        <th style="width:80px;text-align:center;">Edit</th>
        <th style="width:80px;text-align:center;">Delete</th>
    </tr>
    </thead>
    <tbody id="tdata">
    {% for meeting in meetingData %}
    <tr>
        <td style="width:80px;text-align:left;">{{meetingData.start_index|add:forloop.counter0 }}</td>
        <td style="width:200px;text-align:left;">{{meeting.dt}}</td>
        <td>{{meeting.title}}</td>
        <td>{{meeting.venue}}</td>
        <td style="width:80px;text-align:center;"> <a data-toggle="modal" onclick="" data-target="#editModal">
            <input type="image" src="{{baseURL}}static/images/penicl-01.png" style="width: 30%;margin-top:10px;"
                  onclick="getMeetingData('{{meeting.id}}')" value="Edit"></a></td>

        <td style="width:80px;text-align:center;"><a href="{{baseURL}}deleteCalenderMeeting/{{meeting.id}}">
            <input type="image" src="{{baseURL}}static/images/delete.png" style="width: 28%;margin-top:10px;"
                     onclick="return confirm('Are you sure you want to delete this meeting?');"value="delete"></a></td>
     </tr>
    {% endfor %}
    </tbody>
    </table>
</div>


<!-- +++++++++++++++++++++++++++++ Pagination start +++++++++++++++++++++++++++++++++++++++++++++++++++++-->

     {% if datalength < 11 %}
            <div class="pagination" style="display:none;"></div>
            {% else %}
                    <div class="pagination" style="margin:0 0 0 10px;">
                        <ul class="pagination" style="margin:0 0 0 10px;">
                        <li class="page-item">
                             {% if meetingData.number != 1 %}
                             <a class="page-link" href="?page=1">First</a>
                             {% endif %}
                         </li>
                          <li class="page-item">
                             {% if meetingData.has_previous %}
                             <a class="page-link" href="?page={{ meetingData.previous_page_number }}" aria-label="Previous">
                             <span aria-hidden="true">&laquo;</span>
                             </a>
                             {% endif %}
                          </li>
                          {% for num in meetingData.paginator.page_range %}
                              {% if meetingData.number == num %}
                              <li class="page-item "><a class="page-link current" href="?page={{ num }}">{{ num }}</a></li>
                              {% elif num > meetingData.number|add:-3 and num < meetingData.number|add:3  %}
                              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                              {% endif %}
                          {% endfor %}
                          <li class="page-item">
                             {% if meetingData.has_next %}
                             <a class="page-link" href="?page={{ meetingData.next_page_number }}" aria-label="Next">
                             <span aria-hidden="true">&raquo;</span>
                             </a>
                             {% endif %}
                          </li>
                          </li>
                          <li class="page-item">
                             {% if meetingData.number != meetingData.paginator.num_pages %}
                             <a class="page-link" href="?page={{ meetingData.paginator.num_pages }}">Last</a>
                             {% endif %}
                          </li>
                         </ul>

                    </div>

             {% endif %}

    <!--+++++++++++++++++++++++++++++++Pagination End +++++++++++++++++++++++++++++++++-->

</div>

<div id="editModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="location.reload();">&times;</button>
        <h4 class="modal-title">Edit Calender Meeting</h4>
      </div>
      <div class="modal-body">
         <form method="POST" id="" autocomplete="on" class="form-horizontal">
              <div class="form-group" style="display:none;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" style="text-align:left;font-weight: 100;">id* :</label>
                        <div class="col-md-8 col-sm-8 col-xs-8" >
                            <input type="text" style="" class="form-control" id="emeet_id" value="" required>
                        </div>
<!--                         <span id="edtitleValidator" style="color:Red;visibility:hidden;"></span>-->
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" style="text-align:left;font-weight: 100;">Title<span style="color:red;font-size:larger;">*</span> :</label>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="width: 45%">
                            <input type="text" style="" class="form-control" id="emeet_title" value="" required>
                        </div>
                         <span id="edtitleValidator" style="color:Red;visibility:hidden;"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" style="text-align:left;font-weight: 100;">Date<span style="color:red;font-size:larger;">*</span> :</label>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="width: 45%">
                            <input type="date" style="" class="form-control" id="emeet_date"  value="" required>
                        </div>
                         <span id="eddateValidator" style="color:Red;visibility:hidden;"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" style="text-align:left;font-weight: 100;">Time<span style="color:red;font-size:larger;">*</span> :</label>
                        <div class="col-md-8 col-sm-8 col-xs-8" >
                            <select name="ddlhh" id="ed_ddlhh" class="input-mini" style="width:75px;border-color: darkgray;">
                                            <option selected="selected" value="">--</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>&nbsp;

                            <select name="ddlmm" id="ed_ddlmm" class="input-mini" style="width:75px;border-color: darkgray;">
                                            <option selected="selected" value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>

                                        </select>&nbsp;

                            <select name="ddlam" id="ed_ddlam" class="input-mini" style="width:75px;border-color: darkgray;">
                                                <option selected="selected" value="AM">AM</option>
                                                <option value="PM">PM</option>

                                            </select>&nbsp;

                        </div>
                         <span id="edtimeValidator" style="color:Red;visibility:hidden;"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" style="text-align:left;font-weight: 100;">Venue<span style="color:red;font-size:larger;">*</span> :</label>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="width: 45%">
                            <input type="text" style="" class="form-control" id="emeet_venue" value="" required>
                        </div>
                         <span id="edvenueValidator" style="color:Red;visibility:hidden;"></span>
                    </div>

<!--              <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #569aeb;color: white;font-weight: bold;"-->
<!--                      onclick="updateCalenderMeeting()">Submit</button>-->
<!--             -->
             <div style="text-align:center;">
             <input  type="button"  value="Submit"  class="sub2button" onclick="updateCalenderMeeting()">
            </div>
          </form>
    </div>

    </div>
  </div>
</div>

<script>

 $(function(){
    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;
    //alert(maxDate);
    $('#txtDate').attr('min', maxDate);
    $('#emeet_date').attr('min', maxDate);

});

function getCommitee(){
    document.getElementById('formValidator').style.visibility = 'hidden';
    committee = document.getElementById('committee').value;

        console.log("commitee====>"+committee);

    $.ajax({
        url:'{{baseURL}}calender',
        type:'GET',
        data:{
            'committee':committee,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success:function(response){
            $('#tdata').replaceWith($("#tdata",response))
             $('#record').replaceWith($("#record",response))
            //location.reload();
        },
        complete:function(){},
        error:function(xhr,textStatus,thrownError){}
    });
}

function addCalenderMeeting(){
    var committee = $('select[name="committee"]').val()
    var title = $('#title').val()
    var date = $('#txtDate').val()
    var venue = $('#venue').val()
     var hrtime = $('#ddlhh').val()
    var time = $('#ddlhh').val() +':'+ $('#ddlmm').val() +' '+ $('#ddlam').val()

    var commflag,titleflag,dateflag,timeflag,venueflag;
    console.log(committee,title,date,venue,time)

    if(committee == ''){
            $('#formValidator').text('Please select committee');
            document.getElementById('formValidator').style.visibility = 'visible';
            commflag = false;
    }
    else{
           document.getElementById('formValidator').style.visibility = 'hidden';
            commflag = true;

    }

     if(title == ''){
        $('#titleValidator').text('*');
            document.getElementById('titleValidator').style.visibility = 'visible';
             titleflag = false;
    }
     else{
            if(title != ''){
                 console.log('title: '+title)
                 patt = /^\w+( \w+)*$/
                 var result = patt.test(title)
                    if(!result){
                            $('#titleValidator').text('Invalid title');
                            document.getElementById('titleValidator').style.visibility = 'visible';
                            titleflag=false;
                        }
                    else{
                            document.getElementById('titleValidator').style.visibility = 'hidden';
                            titleflag = true;

                    }
            }

    }

     if(date == ''){
        $('#dateValidator').text('*');
            document.getElementById('dateValidator').style.visibility = 'visible';
             dateflag = false;
    }
    else{
            document.getElementById('dateValidator').style.visibility = 'hidden';
            dateflag = true;
    }

     if(hrtime == ''){
        $('#timeValidator').text('*');
            document.getElementById('timeValidator').style.visibility = 'visible';
             timeflag = false;
    }
    else{
        document.getElementById('timeValidator').style.visibility = 'hidden';
             timeflag = true;
    }

     if(venue == ''){
        $('#venueValidator').text('*');
            document.getElementById('venueValidator').style.visibility = 'visible';
             venueflag = false;
    }
    else{
        if(venue != ''){
                 console.log('venue: '+venue)
                 patt = /^\w+( \w+)*$/
                 var result = patt.test(venue)
                    if(!result){
                            $('#venueValidator').text('Invalid venue');
                            document.getElementById('venueValidator').style.visibility = 'visible';
                            venueflag=false;
                        }
                    else{
                            document.getElementById('venueValidator').style.visibility = 'hidden';
                             venueflag = true;
                    }
                }

    }
    if(commflag && titleflag && dateflag && timeflag && venueflag){
        $.ajax({
            type: 'POST',
            url: '{{baseURL}}createCalenderMeeting',
            data : {

                'committee':committee,
                'title':title,
                'date':date,
                'time':time,
                'venue':venue,
                'csrfmiddlewaretoken': '{{ csrf_token }}'

            },
            success:function(response) {
                console.log(response)
				alert('Meeting Added');
                location.reload();

                   <!--                    document.getElementById('committee').value = response-->
<!--                    $('#committee').change();-->


<!--                    $('#formValidator').text('Meeting Added');-->
<!--                    document.getElementById('formValidator').style.visibility = 'visible';-->

<!--                   document.getElementById('title').value = ''-->
<!--                   document.getElementById('txtDate').value = ''-->
<!--                   document.getElementById('venue').value = ''-->
<!--                   document.getElementById('ddlhh').value =  ''-->
<!--                   document.getElementById('ddlmm').value =  '00'-->
            },
            complete:function(){},
           error:function (xhr, textStatus, thrownError){}
        });
     }
}

function getMeetingData(id){
    $.ajax({
            type: 'POST',
            url: '{{baseURL}}viewCalenderMeeting',
            data : {
                'id':id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success:function(response) {

                //console.log(response)
                var o=JSON.parse(response);

                document.getElementById('emeet_id').value = o.id
                document.getElementById('emeet_title').value = o.title
                document.getElementById('emeet_venue').value = o.venue

                var dt = (o.dt).split(' ')
                var date1 = dt[0]
                var hr_min = (dt[1]).split(':')
                var hr = hr_min[0]
                var min = hr_min[1]
                var am = dt[2]
                var date2 = date1.replace(/\//g,'-');
                var datels = date2.split('-');
                var dateDD = datels[0]
                var dateMM = datels[1]
                var dateYY = datels[2]
                var date = dateYY + '-' + dateMM + '-' + dateDD
                //console.log(date,hr,min,am);


                document.getElementById('emeet_date').value = date
                document.getElementById('ed_ddlhh').value = hr
                document.getElementById('ed_ddlmm').value = min
                document.getElementById('ed_ddlam').value = am
            },
            complete:function(){},
           error:function (xhr, textStatus, thrownError){}
        });
}

function updateCalenderMeeting(){
    var id = $('#emeet_id').val()
    var title = $('#emeet_title').val()
    var date = $('#emeet_date').val()
    var venue = $('#emeet_venue').val()
    var hrtime = $('#ed_ddlhh').val()
    var time = $('#ed_ddlhh').val() +':'+ $('#ed_ddlmm').val() +' '+ $('#ed_ddlam').val()

    var titleflag,dateflag,timeflag,venueflag;

     if(title == ''){
        $('#edtitleValidator').text('*');
            document.getElementById('edtitleValidator').style.visibility = 'visible';
             titleflag = false;
    }
     else{
            if(title != ''){
                 console.log('title: '+title)
                 patt = /^\w+( \w+)*$/
                 var result = patt.test(title)
                    if(!result){
                            $('#edtitleValidator').text('Invalid title');
                            document.getElementById('edtitleValidator').style.visibility = 'visible';
                            titleflag=false;
                        }
                    else{
                            document.getElementById('edtitleValidator').style.visibility = 'hidden';
                            titleflag = true;
                         }
            }

    }

    if(date == ''){
        $('#eddateValidator').text('*');
            document.getElementById('eddateValidator').style.visibility = 'visible';
             dateflag = false;
    }
    else{
            dateflag = true;
    }
    if(hrtime == ''){
        $('#edtimeValidator').text('*');
            document.getElementById('edtimeValidator').style.visibility = 'visible';
             timeflag = false;
    }
    else{
            timeflag = true;
    }
    if(venue == ''){
             $('#edvenueValidator').text('*');
             document.getElementById('edvenueValidator').style.visibility = 'visible';
             venueflag = false;
    }
   else{
        if(venue != ''){
                 console.log('venue: '+venue)
                 patt = /^\w+( \w+)*$/
                 var result = patt.test(venue)
                    if(!result){
                            $('#edvenueValidator').text('Invalid venue');
                            document.getElementById('edvenueValidator').style.visibility = 'visible';
                            venueflag=false;
                        }

                    else{
                            document.getElementById('edvenueValidator').style.visibility = 'hidden';
                             venueflag = true;
                    }

                }

    }
    console.log(title,date,venue,time)

    if(titleflag && dateflag && timeflag && venueflag){
        $.ajax({
            type: 'POST',
            url: '{{baseURL}}updateCalenderMeeting',
            data : {

                'id':id,
                'title':title,
                'date':date,
                'time':time,
                'venue':venue,
                'csrfmiddlewaretoken': '{{ csrf_token }}'

            },
            success:function(response) {
                location.reload()

            },
            complete:function(){},
           error:function (xhr, textStatus, thrownError){}
        });
    }
}


</script>


</body>
</html>