<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eMeeting</title>
    {% load static %}


<!--    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{baseURL}}static/css/style-forms.css"/>
    <link rel="stylesheet" href="{{baseURL}}static/css/login.css"/>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body style="background:url('{{baseURL}}static/images/bg-login.jpg') !important;">
    <form id="reset-pass-form" method="POST"  autocomplete="off">
        {% csrf_token %}
        <div class="container">
            <div style="text-align: center">
                <div class="card card-container" style="background-color:white">

                        <span style="color:#569AEB;font-size:XX-Large;">eMeeting</span>
                    <div style="padding-top: 22px;">
                        <div class="form-group input-group">
                            <span class="add-onpass"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="pass" class="form-control_dd"  autocomplete="on" placeholder="New Password" required="required" type="Password"
                                   required="required"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="add-onpass"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="confirm_pass" class="form-control_dd"  autocomplete="off" placeholder="Confirm Password" type="Password"
                                   required="required" type="text" />
<!--                            <input style="display: none" type="password" value="**********" id="Password">-->
                        </div>

                        <div class="form-group input-group">
                            <span id="FailureText" style="color:Red;"></span>
                        </div>

                        <div class="form-group input-group">

                            <input id="ResetPassButton" type="button" value="Submit" class="btn btn-primary default" onclick="ResetPassword()" />
                            <br />

                        </div>

                        <div class="form-group input-group">
                            <p style="font-size:12px;">For any queries contact us on <a href="http://www.mobitrail.co/"
                                              id="support-link"  target="_blank">support@mobitrail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>


<script>
    function ResetPassword(){

            var password = document.getElementById('pass').value.toString();
           // console.log(password)
            var con_password = document.getElementById('confirm_pass').value.toString();

            if(password !== con_password ) {
                 $('#FailureText').html("Password do not match");
            }
            else{
                           $.ajax({
                           type:'POST',
                           url:'{{baseURL}}setNewPassword',
                           data:{
                                'user':'{{user}}',
                                'password':password,
                                //'con_password':con_password,

                               'csrfmiddlewaretoken': '{{ csrf_token }}'
                           },
                           success:function(data){
						   
									alert('Password reset!')
                                 //console.log(data)
                                 if(data == '/emeetingadmin/'){

                                          window.location = "https://mgenius.in/emeetingadmin/"
										 // window.open("https://mgenius.in/emeetingadmin/");
                                      }
                                     },
                           complete:function(){},
                           error:function(xhr,textStatus,thrownError){}

                       });
                     }

    }
</script>




</body>
</html>